<config>
    <modules>
        <Larwa_ProductObserver>
            <version>0.2.0</version>
        </Larwa_ProductObserver>
    </modules>

    <global>
         <blocks>
            <productobserver>
                <class>Larwa_ProductObserver_Block</class>
            </productobserver>
         </blocks>

        <helpers>
            <productobserver>
                <class>Larwa_ProductObserver_Helper</class>
            </productobserver>
        </helpers>

        <events>
            <catalog_controller_product_init>
                <observers>
                    <Larwa_productobserver_model_observer>
                            <type>singleton</type>
                            <class>Larwa_ProductObserver_Model_Observer</class>
                            <method>observeProduct</method>
                    </Larwa_productobserver_model_observer>
                </observers>
            </catalog_controller_product_init>
        </events>
        <models>
            <productobserver>
                <class>Larwa_ProductObserver_Model</class>
                <resourceModel>productobserver_resource</resourceModel>
            </productobserver>
            <productobserver_resource>
                <class>Larwa_ProductObserver_Model_Resource</class>
                <entities>
                    <report>
                        <table>product_observer_report</table>
                    </report>
                </entities>
            </productobserver_resource>
        </models>
        <resources>
            <productobserver_setup>
                <setup>
                    <module>Larwa_ProductObserver</module>
                    <class>Larwa_ProductObserver_Model_Resource_Setup</class>
                </setup>
            </productobserver_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productobserver before="Mage_Adminhtml">Larwa_ProductObserver_Adminhtml</productobserver>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <productobserver>
                    <file>productobserver.xml</file>
                </productobserver>
            </updates>
        </layout>
    </adminhtml>

</config>
